.photo-page {
  flex-direction: column;
}

.photo-page h1,
.photo-page p {
  text-align: center;
}

.photo-page h1 {
  margin: 0.5em;
}

.image-container,
.details-container {
  padding: 1em;
}

.image-container {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.image-container img {
  width: 80%;
}

.details-container {
  text-align: center;
}

.photo-explanation {
  margin: 0 5em;
}

.rover-photos-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}
