.logo {
  height: 10em;
  position: fixed;
  margin: 1em;
}

.nav-btn-container {
  flex-direction: column;
  align-items: center;
}

.nav-btn-container button {
  height: 8em;
  width: 8em;
  border: none;
  background: url('/images/neptune.svg') no-repeat center center;
  background-size: auto 100%;
  font-size: 0.7em;
  font-weight: 800;
  padding: 0.5em;
}

.nav-btn-container img {
  height: 3em;
}