.input-container,
.form-section form {
  flex-direction: column;
}

.input-container {
  align-items: center;
}

.input-container label,
.input-container input,
.form-section form {
  margin: 0.5em;
}

.form-section {
  height: 60%;
  margin-top: 1em;
}

.form-section ul {
  text-align: center;
  list-style: none;
  margin: 1em;
}

.inputs-wrapper {
  justify-content: space-between;
}

.form-section form button {
  width: 30%;
  height: 2em;
  border: none;
  margin-top: 1em;
  background-color: #F9A52B;
  align-self: center;
}